{
  "parserOptions": {
    "ecmaVersion": 2019,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "extends": ["eslint-config-prettier"],

  "rules": {
    "semi": "off",
    "no-unused-vars": "warn",
    "no-unused-expressions": "warn",
    "no-useless-return": "warn"
  },
  "plugins": ["jsx-ally"]
}
